@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(242, 242, 242);

}

.container {
    background-color: white;
    /* border: 1px solid; */
    width: 550px;
    margin-left: 30rem;
    margin-top: 10rem;
    padding-left: 35px;
    padding-top: 10px;
    font-family: "Poppins", serif;
    box-shadow: 5px 2px 3px  #888;



}

.container img {
    padding-top: 30px;
    margin-bottom: 40px;

}

.main-heading {
    font-size: 10px;
    margin-top: -20px;
    margin-bottom: 40px;

}

.main-heading h1 {
    font-weight: normal;

}

.password {
    text-transform: capitalize;
    margin-bottom: 20px;

}

.password h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}


input {
    width: 450px;
    padding: 8px;
    margin-bottom: 20px;


}

.src-box {
    text-transform: capitalize;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 17px;
    border-style: underline;
    border-color: rgb(100, 100, 236);
    margin-bottom: 29px;
}

.para {
    text-transform: capitalize;
    color: rgb(100, 100, 236);

}

.para p {
    margin-bottom: 15px;
    font-size: 15px
}

.btn {
    display: flex;
    justify-content: right;
    margin-right: 79px;
    margin-top: 40px;
}

.btn button {
    width: 95px;
    font-size: larger;
    text-align: center;
    padding: 6px;
    border-radius: 2px;
    border: none;
    background: rgb(76, 76, 228);
    color: white;
    margin-bottom: 20px;
    text-transform: capitalize;
    padding-left: 10px;
}

.btn :hover {
    cursor: pointer;
}

.pa{
    padding-bottom: 2px;
}
span{
    text-transform: none;
}